@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#about {
  padding-top: 10px;
}

.abo-div {
  align-items: center;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  padding: 20px;
  text-align: justify;
  box-shadow: 0 0 10px 0 rgba(127, 12, 194, 0.45) inset;
}

.active {
  background-color:#7b5eb6;
  color: white;
}

.allcon {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 410;
}

.box1 {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.4) 0px 30px 60px -30px,
    rgba(255, 255, 255, 0.2) 0px -2px 6px 0px inset;
  transition: transform 0.3s;
}

.box1 h3 {
  color: #5d2e8c;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.box1 p {
  --local-color: #333;
  color: var(--local-color);
}

.box1:hover {
  transform: translateY(-10px);
}

.boxa {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  transition: transform 0.3s;
}

.button-1 {
  background-color: #7b5eb6;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 13px 19px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  user-select: none;
  vertical-align: baseline;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 0px -23px 25px 0px rgba(0, 0, 0, 0.17) inset,
    0px -36px 30px 0px rgba(0, 0, 0, 0.15) inset,
    0px -79px 40px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 1px rgba(0, 0, 0, 0.06),
    0px 4px 2px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09),
    0px 16px 8px rgba(0, 0, 0, 0.09);
}

.button-1:focus,
.button-1:hover {
  background-color: #7b5eb6;
  color: black;
}

#contact { padding-top: 10px; }

.container {
  margin: 20px;
  padding: 20px;
  width: 700px;
}

.fa-right-from-bracket {
  font-weight: bolder;
}

fieldset {
  background-color: #5d2e8c;
  border: 0px;
  border-radius: 20px;
  color: white;
  padding: 20px;
}

footer {
  background-color: black;
  color: white;
  height: 50px;
  padding-top: 20px;
  text-align: center;
}

h2 {
  color: #5d2e8c;
  padding-left: 20px;
}

.intro {
  background-image: url("Dark\ Blue\ Gradient\ Modern\ Futuristic\ Portfolio\ Cover.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}

input[type="submit"] {
  background-color: #15092e;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 12px 20px;
}

input[type="submit"]:hover {
  background-color: rgb(62, 29, 99);
}

input[type="text"],
select,
textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-top: 6px;
  padding: 12px;
  resize: vertical;
  width: 100%;
}

.li {
  float: left;
}

.li a {
  color: white;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.li a:hover {
  color: #ece6fa;
}

.li-skill {
  list-style-type: circle;
}

#loader {
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  z-index: 99999;  
  background: #5d2e8c;
}

.p {
  text-align: justify;
}

.pro-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding: 60px;
}

#project {
  background-color: #5d2e8c;
  color: white;
  height: 100%;
  padding-top: 10px;
}

#skill {
  background-color: #5d2e8c;
  padding-top: 10px;
}

#skill h2 { color: white; }

.skillbtn {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.topnav-right {
  float: right;
}

.ul {
  background-color: #15092e;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.ul-skill {
  list-style-type: circle;
  padding: 10px;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}

.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

@media only screen and (max-width: 600px) {
  .abo-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    text-align: justify;
  }

  .abo-div img { width: 150px; }
  
  #about-content {
    font-size: 13px;
    padding: 10px;
  }

  #about-img { width: 150px; }

  .allcon {
    display: flex;
    flex-direction: column;
  }

  .button-1 { font-size: 13px; }

  .boxa {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    transition: transform 0.3s;
  }

  .container {
    font-size: 15px;
    margin: 5px;
    padding: 5px;
    padding-top: 20px;
    width: 300px;
  }

  p { font-size: 15px; }

  .pro-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    padding: 0px;
  }

  #project { height: 100%; }

  .skillbtn {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 50px;
  }

  .ul { font-size: 12px; }
}